<%= form_for @issue do |f| %>
	<ul>
  		<% @issue.errors.full_messages.each do |error| %>
    		<li><%= error %></li>
  		<% end %>
  </ul>
  <%= f.label :title, class: 'strong' %>
  <%= f.text_field :title, placeholder: "Enter issue title", class: "span12", id:"inputError" %>
  <%= f.label :description %>
  <%= f.text_area :description, placeholder: "Enter a description", class: "span12" ,rows: "9" %>
  <%= f.submit 'Save', class: "btn btn-primary" %>
  <%= link_to 'Cancel', issues_path, class: "btn" %>
<% end %>
