<p>
Product Version: <span class='<%=version_badge(Version.find(@issue.product_version).state_name)%>'> <%=Version.find(@issue.product_version).number%> </span> <br/>
Target Version: 
<% if @issue.target_version %>
	<span class='<%=version_badge(Version.find(@issue.target_version).state_name)%>'> <%=Version.find(@issue.target_version).number%> </span>
<% else %>
    <span class='badge'>None</span>
<%end%>
<%if @issue.target_version.nil? or Version.find(@issue.target_version).delivered? %>
	<%= form_for [@project,@issue] do |f| %>
		<%= f.collection_select :target_version, planned_version(@project), :id, :number%> 
		<%= f.submit 'set target version', class: "btn btn-mini btn-success" %>
	<% end %>
<% end %>
</p>