<ul class="pager pager-inverse">
  <li><%= link_to "Issues list", issues_path %></li>
  <li class="previous"><%= link_to 'Previous', issue_path(@issue.prev) %></li>
  <li class="next"><%= link_to 'Next', issue_path(@issue.next)%></li>
</ul>

<legend>
	<span class='<%= state_label(@issue.state_name)%>'>
		<%= @issue.state_name %>
	</span> 
	<%=@issue.title%>
</legend>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Description:
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <%= @issue.description %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Analysis:
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= @issue.analysis %>
      </div>
    </div>
  </div>
</div>


<%= render partial: 'change_state' %>

<%= link_to 'edit', edit_issue_path(@issue), class: "btn btn-info btn-mini" %>
<%= link_to(issue_path(@issue), method: :delete, data: {confirm: "Really delete the issue?"}, class: "btn btn-danger btn-mini") do %>
  	<i class="icon-trash icon-white"></i>
<%end%>
<br />

<div>
<legend>Notes:</legend>
	<%= render partial: 'notes/form' %>
	<%= render partial: 'notes/note', collection: @issue.notes %>
</div>