<h1><%=@issue.title%></h1>

<p><%= @issue.description %></p>

<%= link_to "edit", edit_issue_path(@issue) %> |
<%= link_to "back", issues_path %> |
<%= link_to "delete", issue_path(@issue), method: :delete, data: {confirm: "Really delete the issue?"} %> <br/>
