
<%= render partial: 'issue_nav'%>

<div class='row-fluid'>
  <div class="span12">
    <legend>
      <span class='<%= state_label(@issue.state_name)%>'>
      <%= @issue.state_name %>
      </span>
      <%=@issue.title%>
    </legend>
    <div class="progress progress-info progress-striped">
      <div class="bar" style="width: <%= progress(@issue.state_name)%>"><%= progress(@issue.state_name)%> Done</div>
    </div>
    <div class='row-fluid'>
      <div class="span6">
        <%= render partial: 'change_state' %>
        <%= render partial: 'references' %>
      </div>
      <div class="span6">
        <%= render partial: 'versions'%>
        <dl class="dl-horizontal ">
          <dt>Severity:</dt>
          <dd><%= @issue.severity %></dd>
          <dt>Impact:</dt>
          <dd><%= @issue.impact %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'collapse'%>
<%if can? :update, @issue %>
  <%= link_to 'edit issue', edit_project_issue_path(@project, @issue), class: "btn btn-primary" %>
<% end %>
<div>
	<%= render partial: 'notes/form' %>
	<%= render partial: 'notes/note', collection: @issue.notes %>
</div>