<legend> Manage Users </legend>

<%= search_form_for @search do |f| %>
	<%= f.label :email_cont %>
	<%= f.text_field :email_cont %>
	<%= f.submit "search", class: 'btn' %>
<%end%>

<%= paginate @users %>
<ul>
	<% @users.each do |user| %>
	<li> 
		<%= user.email %>
		<ul>
		<% user.roles.each do |role| %>
            
			<li><%= role.name %></li>
			<% if not role.resource_type.nil? %>
				<ul>
					<li><%= Object.const_get(role.resource_type).find(role.resource_id).name %></li>
				</ul>
			<% end %>
		<% end %>
		</ul>
	</li>
	<% end %>
</ul>
<%= link_to 'New user', new_user_path, class: 'btn btn-primary' %>