<legend><%=@project.name%></legend>

<p><%= @project.description %></p>
<%= render 'edit_destroy', project: @project %>
<br />
<br />

<%= render partial: 'projects/project_issues'%>

<%= link_to 'Back', projects_path %>